<div class ="center" >
  <h1>つぶやき一覧画面</h1>
  <h3><%= notice%></h3>
</div>

<div class ="index_table">
  <table>
    <tr>
      <th>つぶやき内容</th>
    </tr>
      
    <tr>
      <% @murmur.each do |murmur| %>
        <td><%= murmur.content%></td>
        <td class ="update"><%= link_to "編集",edit_murmur_path(murmur.id)%></td>
        <td class ="delete"><%=link_to "削除",murmur_path(murmur.id),method: :delete,data: {confirm: '本当に削除していいですか？'}%></td>
    </tr>
      <%end%>
  </table>
</div>
